//Default theme
//@import "@arco-design/web-react/dist/css/index.less";

//Purple theme with rounded corners
//@import "@arco-themes/react-juzi001";

//VMS theme
@import "@arco-themes/react-g7vms";
@import (css) "primereact/terminal/terminal.min.css";

@font-family: 'IBM Plex Sans', sans-serif;
@font-family-mono: 'IBM Plex Mono', Monaco, monospace;
@font-size-body: 16px;
@page-header-weight-title-text: 300;

.arco-page-header-title {
  text-transform: uppercase;
}

.ace_gutter {
  background-color: #fdfdfd !important;
}

.ace_cursor {
  background-color: ligten(purple, 40%);
}

.app-terminal {
  //border: dashed 1px red;
  height: 100%;
  position: relative;

  .p-terminal {
	padding: 10px;
	height: initial !important;
	position: absolute !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #333;
	color: #efefef;
	font-family: @font-family-mono;
	font-size: 14px;

	> div:first-of-type {
	  color: #999;
	}
  }

  .p-terminal-prompt {
	color: #eaeadf;
	font-weight: bold;
  }
}


.code-editor {
  flex: 1;
  //border: dashed 1px red;
  height: 100%;
  position: relative;

  .cm-editor {
	position: absolute !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	//overflow: auto !important;
  }

  .cm-scroller {
	font-family: @font-family-mono;
  }
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  display: flex;
}

.debug {
  background-color: lighten(limegreen, 40%);
  backdrop-filter: opacity(0.3);
}

.dashed-bottom {
  border-bottom-style: dashed;
}

.app-layout {
  background: var(--color-fill-2);

  .logo {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .app-workspace {

	.arco-page-header-head {
	  margin-top: 1ch;
	  padding-top: 1ch;
	  border-top: dashed 1px var(--color-text-4);
	}

	.app-content > main {
	  margin: 12px 24px 0;
	  padding: 12px;
	  background: var(--color-bg-1);
	  border-radius: 7px;

	  border-top: solid 2px var(--color-text-4);
	  border-bottom: solid 2px var(--color-text-4);
	}
  }

  .arco-layout-footer {
	color: var(--color-text-2);
	height: 48px;
	line-height: 48px;
	font-weight: 400;
	font-size: 14px;
	padding: 0 24px;
  }

  .cards-grid {
	display: grid;
	grid-gap: 7px;

	.card-item {
	  //min-width: calc((100%/4) - 0px);
	  //margin-bottom: 7px;
	  //margin-right: 7px;
	}

	.card-item:not(:last-child) {
	}

	.card-item-danger {
	  background-color: lighten(crimson, 40%);
	}
  }
}

.card-item .icon-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.1s;
}

.card-item .icon-hover:hover {
  background-color: rgb(var(--gray-2));
}

@media all and (min-width: 610px) and (max-width: 960px) {
  .cards-grid {
	grid-template-columns: repeat(auto-fill, 100%) !important;
  }
}

@media all and (min-width: 960px) and (max-width: 1280px) {
  .cards-grid {
	grid-template-columns: repeat(3, calc(100% / 3 - 5px)) !important;
  }
}

@media all and (min-width: 1280px) and (max-width: 1600px) {
  .cards-grid {
	grid-template-columns: repeat(4, calc(100% / 4 - 5px)) !important;
  }
}

@media all and (min-width: 1600px) {
  .cards-grid {
	grid-template-columns: repeat(6, calc(100% / 6 - 6px)) !important;
  }
}